/*#Htmlbody{*/
	/*background-color: #AAA;*/
	/*height: 30px;*/
/*}*/

/*#ModelButtons{*/
	/*margin: 15px; */
/*}*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
/*.masthead{padding:60px 0 80px;margin-bottom:0;color:#fff}*/
.jumbotron1{
	background:url(../images/2.jpg);
	margin-top: -20px;
	height: 400px;
}
.jumbotron2{
	background:url(../images/2.jpg);
	margin-top: -20px;
	height: 100px;
}
.mybar{
	border-radius: 0px;
}
.myarea{
	width:auto;
	margin: 0 auto;
	background-color:#a6e1ec;
	border-radius: 20px;}

#myborder,
#myborder th,
#myborder tr,
#myborder td{
	border:2px solid #B0C4DE;
}
.table-hover > tbody > tr:hover {
	background-color: #55AAAA;}

.mytable td{
	width:200px;
}

#select{
	width: 20%
}
#select input{
	border-radius: 20px;}


